@import "tailwindcss";

@theme {
  --color-background: oklch(0.98 0.0042 197.09);
  --color-foreground: oklch(0.13 0.0082 196.22);
  --color-primary: oklch(0.52 0.0815 190.53);
  --color-secondary: oklch(0.78 0.0799 191.58);
}

@layer base {
  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .input {
    @apply rounded-lg border-2 border-primary p-2;
  }

  .button {
    @apply rounded-lg bg-primary p-2 text-background;
  }
}
